<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SEO Мета-теги -->
    <title>Premier-Exchange — Обратный обмен криптовалюты быстро и безопасно</title>
    <meta name="description"
          content="Premier-Exchange — платформа для быстрого и безопасного обратного обмена криптовалюты по выгодным курсам. Минимальные комиссии и высокая скорость операций.">
    <meta name="keywords"
          content="Обратный обмен криптовалюты, Premier-Exchange, обмен криптовалюты, криптовалютный обменник, обмен биткоинов, обмен USDT, обмен USDC, обмен ETH, обмен DAI, безопасный обмен криптовалют">
    <meta name="author" content="Premier-Exchange">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://premier-exchange.ru">


    <meta property="og:title" content="Premier-Exchange — Обратный обмен криптовалюты быстро и безопасно"/>
    <meta property="og:description"
          content="Premier-Exchange — платформа для быстрого и безопасного обратного обмена криптовалюты по выгодным курсам. Минимальные комиссии и высокая скорость операций."/>
    <meta property="og:image" content="https://premier-exchange.ru/dist/premier.png"/>
    <meta property="og:url" content="https://premier-exchange.ru"/>
    <meta property="og:type" content="website"/>

    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/dist/premier.svg"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Onest:wght@100..900&display=swap"
        rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="module" crossorigin src="/dist/assets/index-BGJFq7Cz.js"></script>
    <link rel="stylesheet" crossorigin href="/dist/assets/index-D42ei-SJ.css">

    <script src="//code.jivo.ru/widget/kjmV45loQI" async></script>
</head>
<body>
<div id="root"></div>
</body>
</html>
